<section class="featuredProducts w-full bg-gray-100 py-12">
  <div class="container mx-auto px-4">
    <!-- Title -->
    <div class="text-center mb-12">
      <h3 class="text-base font-bold md:text-lg">PERSONALISED FOR YOU</h3>
    </div>

    <!-- Products Grid/Slider -->
    <div class="relative">
      <div class="products-container">
        <div
          class="block whitespace-nowrap overflow-x-scroll scrollbar-hide w-full"
        >
          <!-- Product 1 -->
          <a
            href="/product"
            class="product-card w-full max-w-[200px] sm:max-w-[300px] inline-block mr-2"
          >
            <div class="w-full max-w-[200px] sm:max-w-[300px]">
              <img
                src="./src/images/shoes1.jpg"
                alt="BINNER TOCK shoes"
                class="w-full h-full object-cover overflow-hidden block"
              >
            </div>
            <div class="p-4">
              <h4 class="font-bold text-xs mb-1">BINNER TOCK</h4>
              <p class="text-gray-600 text-xs">Airborne Two Stinga Standard F</p>
              <p class="text-gray-600 text-xs mb-2">Mochra Birko Flex</p>
              <p class="font-bold text-xs">£90.00</p>
            </div>
          </a>
          <!-- Product 2 -->
          <a
            href="/product"
            class="product-card w-full max-w-[200px] sm:max-w-[300px] inline-block mr-2"
          >
            <div class="w-full max-w-[200px] sm:max-w-[300px]">
              <img
                src="./src/images/shoes2.jpg"
                alt="BINNER TOCK shoes"
                class="w-full h-full object-cover overflow-hidden block"
              >
            </div>
            <div class="p-4">
              <h4 class="font-bold text-xs mb-1">BINNER TOCK</h4>
              <p class="text-gray-600 text-xs">Airborne Two Stinga Standard F</p>
              <p class="text-gray-600 text-xs mb-2">Mochra Birko Flex</p>
              <p class="font-bold text-xs">£90.00</p>
            </div>
          </a>
          <!-- Product 3 -->
          <a
            href="/product"
            class="product-card w-full max-w-[200px] sm:max-w-[300px] inline-block mr-2"
          >
            <div class="w-full max-w-[200px] sm:max-w-[300px]">
              <img
                src="./src/images/shoes3.jpg"
                alt="BINNER TOCK shoes"
                class="w-full h-full object-cover overflow-hidden block"
              >
            </div>
            <div class="p-4">
              <h4 class="font-bold text-xs mb-1">BINNER TOCK</h4>
              <p class="text-gray-600 text-xs">Airborne Two Stinga Standard F</p>
              <p class="text-gray-600 text-xs mb-2">Mochra Birko Flex</p>
              <p class="font-bold text-xs">£90.00</p>
            </div>
          </a>
          <!-- Product 4 -->
          <a
            href="/product"
            class="product-card w-full max-w-[200px] sm:max-w-[300px] inline-block mr-2"
          >
            <div class="w-full max-w-[200px] sm:max-w-[300px]">
              <img
                src="./src/images/shoes4.jpg"
                alt="BINNER TOCK shoes"
                class="w-full h-full object-cover overflow-hidden block"
              >
            </div>
            <div class="p-4">
              <h4 class="font-bold text-xs mb-1">BINNER TOCK</h4>
              <p class="text-gray-600 text-xs">Airborne Two Stinga Standard F</p>
              <p class="text-gray-600 text-xs mb-2">Mochra Birko Flex</p>
              <p class="font-bold text-xs">£90.00</p>
            </div>
          </a>
          <!-- Product 5 -->
          <a
            href="/product"
            class="product-card w-full max-w-[200px] sm:max-w-[300px] inline-block mr-2"
          >
            <div class="w-full max-w-[200px] sm:max-w-[300px]">
              <img
                src="./src/images/shoes5.jpg"
                alt="BINNER TOCK shoes"
                class="w-full h-full object-cover overflow-hidden block"
              >
            </div>
            <div class="p-4">
              <h4 class="font-bold text-xs mb-1">BINNER TOCK</h4>
              <p class="text-gray-600 text-xs">Airborne Two Stinga Standard F</p>
              <p class="text-gray-600 text-xs mb-2">Mochra Birko Flex</p>
              <p class="font-bold text-xs">£90.00</p>
            </div>
          </a>
          <!-- Product 6 -->
          <a
            href="/product"
            class="product-card w-full max-w-[200px] sm:max-w-[300px] inline-block mr-2"
          >
            <div class="w-full max-w-[200px] sm:max-w-[300px]">
              <img
                src="./src/images/shoes6.jpg"
                alt="BINNER TOCK shoes"
                class="w-full h-full object-cover overflow-hidden block"
              >
            </div>
            <div class="p-4">
              <h4 class="font-bold text-xs mb-1">BINNER TOCK</h4>
              <p class="text-gray-600 text-xs">Airborne Two Stinga Standard F</p>
              <p class="text-gray-600 text-xs mb-2">Mochra Birko Flex</p>
              <p class="font-bold text-xs">£90.00</p>
            </div>
          </a>
          <!-- Product 7 -->
          <a
            href="/product"
            class="product-card w-full max-w-[200px] sm:max-w-[300px] inline-block mr-2"
          >
            <div class="w-full max-w-[200px] sm:max-w-[300px]">
              <img
                src="./src/images/shoes7.jpg"
                alt="BINNER TOCK shoes"
                class="w-full h-full object-cover overflow-hidden block"
              >
            </div>
            <div class="p-4">
              <h4 class="font-bold text-xs mb-1">BINNER TOCK</h4>
              <p class="text-gray-600 text-xs">Airborne Two Stinga Standard F</p>
              <p class="text-gray-600 text-xs mb-2">Mochra Birko Flex</p>
              <p class="font-bold text-xs">£90.00</p>
            </div>
          </a>
          <!-- Product 8 -->
          <a
            href="/product"
            class="product-card w-full max-w-[200px] sm:max-w-[300px] inline-block mr-2"
          >
            <div class="w-full max-w-[200px] sm:max-w-[300px]">
              <img
                src="./src/images/shoes8.jpg"
                alt="BINNER TOCK shoes"
                class="w-full h-full object-cover overflow-hidden block"
              >
            </div>
            <div class="p-4">
              <h4 class="font-bold text-xs mb-1">BINNER TOCK</h4>
              <p class="text-gray-600 text-xs">Airborne Two Stinga Standard F</p>
              <p class="text-gray-600 text-xs mb-2">Mochra Birko Flex</p>
              <p class="font-bold text-xs">£90.00</p>
            </div>
          </a>
        </div>
      </div>

      <!-- Mobile Navigation Arrows -->
      <button
        class="absolute cursor-pointer left-0 top-1/2 -translate-y-1/2 -ml-4 bg-white rounded-full p-2 shadow-md hover:bg-gray-100 focus:outline-none slider-arrow prev-arrow"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </button>
      <button
        class="absolute cursor-pointer right-0 top-1/2 -translate-y-1/2 -mr-4 bg-white rounded-full p-2 shadow-md hover:bg-gray-100 focus:outline-none slider-arrow next-arrow"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </button>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured products",
  "class": "featured_products",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Featured products",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
